#mainscreen{
	position: fixed;
	top: 0px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
}

.presstostart{
	position: fixed;
	width: 500px;
	height: 144px;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	background: url("Graphics/Button Danganronpa.png");
	background-size: 100%;
}
