#mainscreen{
	position: fixed;
	top: 0px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%)
}

#presstostart{
	position: fixed;
	width: 559px;
	height: 161px;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%)
	background-image: url("Graphics/Danganronpa Button.png");
}
