#mainscreen{
	position: fixed;
	top: 0px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%)
}

#presstostart{
	position: fixed;
	width: 559px;
	height: 161px;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%)
}

#opis5{
	position: absolute;
	left: 40%;
	top: 40%;
	color: white;
}

#menu{
	position: fixed;
	left: 10px;
	top: 10px;
	text-align: right;
}

#notCorrect{
	position: fixed;
	top: 50px;
	text-align: center;
	color: white;
}

#przycisk{
	position: fixed;
	left: 50px;
	top: 25px;
	text-align: right;
}

#przycisk2{
	position: fixed;
	left: 150px;
	top: 25px;
	text-align: right;
}

#p_imie{
	color: white;
	position: fixed;
	top: 100px;
}

#blok4{
	color: white;
	position: fixed;
	top: 70px;
}

#blok3{
	color: white;
	position: fixed;
	top: 100px;
}

ul{
	padding-right: 25px;
}

li{
	display: inline;
	padding-right: 5px;
}
